__pycache__/
*.pyc

OOD_exp/dif_start_end_loc/outputs/
OOD_exp/dif_start_end_loc/intervetion
OOD_exp/change_pos/outputs
OOD_exp/new_object_same_pos/outputs

OOD_exp/**/*.pt
OOD_exp/**/*.mp4
OOD_exp/**/*.avi
OOD_exp/**/*.mov
OOD_exp/**/*.mkv
OOD_exp/**/*.jsonl

.codex

analysis/chunk_analysis/results

attention_analysis/outputs